* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 20px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #090115;
}
.logo h1 {
  text-align: center;
}
.logo a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 4rem;
  letter-spacing: 0.8rem;
  margin: 1rem auto;
}
.logo a::selection {
  background: #ff00ea;
}
.logo p {
  color: white;
  text-align: center;
  font-size: 0.5rem;
  margin: -2rem 0 1rem 0;
}
.logo p::selection {
  background: #ff00ea;
}
.Home {
  display: grid;
  grid-template-columns: 75% 25%;
  font-size: 1rem;
}
.Home h3::selection {
  background: #ff00ea;
}
@media screen and (max-width: 800px) {
  .Home {
    grid-template-columns: 100%;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search__input {
  width: 18rem;
  height: 2rem;
  padding: 1rem;
  border: none;
  position: relative;
  outline: none;
  border-radius: none;
  border-radius: 0.3rem;
  box-sizing: border-box;
  text-align: center;
}
.search .search__input:focus {
  -webkit-box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
  -moz-box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
  box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
}
.search .select__rating {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0rem;
  outline: none;
}
.search .select__rating:focus {
  -webkit-box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
  -moz-box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
  box-shadow: inset 0px 0px 0px 0.2rem #ff00ea;
}
.trending {
  padding: 0.4rem;
}
.trending h3 {
  font-size: 1rem;
  margin: 1rem ;
}
.trending h3::selection {
  background: #ff00ea;
}
.trending .trending__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.8rem;
}
.trending .trending__list a {
  border-radius: 0.2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  background: #ff00ea;
}
.trending .trending__list a:hover {
  background: #99008c;
}
.notFound h3 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
.notFound p {
  text-align: center;
  margin: -0.5rem 0 1rem;
}
.notFound img {
  display: block;
  margin: auto;
  width: 10rem;
}
.notFound button {
  background: #ff00ea;
  color: white;
  display: block;
  margin: 3rem auto;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.notFound button:hover {
  background: #66005e;
}
footer {
  text-align: center;
  color: #e3e3e3;
  font-size: 1rem;
  padding: 2rem;
}
footer a {
  color: #e3e3e3;
  font-size: 1rem;
}
footer a::selection {
  background: #ff00ea;
}
footer p::selection {
  background: #ff00ea;
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.loader div {
  width: 5rem;
  height: 0.5rem;
  background: #ff00ea;
  border-radius: 0.2rem;
  animation: loader 1s infinite;
}
@keyframes loader {
  0% {
    width: 0;
  }
  50% {
    width: 5rem;
  }
}
